* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: BlenderPro;
  unicode-range: U+000-5FF;
  src: url("../font/blenderpro-book-webfont.woff2") format("woff2"),
    url("../font/blenderpro-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Cyberpunk;
  unicode-range: U+000-5FF;
  src: url("../font/cyberpunk-webfont.woff2") format("woff2"),
    url("../font/cyberpunk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --cyberBlueShadow: 2px 2px 4px aqua;
  --cyberYellowShadow: 2px 2px 4px #d9ff00;
  --cyberYellow: #d9ff00;
  --cyberPunkFont: Cyberpunk;
  --blenderProFont: BlenderPro;
}

/* NavBar Styling */
#navIcon {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  padding: 10px;
  z-index: 3;
  transition: all 0.5s;
  color: var(--cyberYellow);
  text-shadow: 1px 1px 3px aqua;
  animation: blowup 3s infinite;
}

@keyframes blowup {
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
#navIcon:hover {
  color: rgb(8, 248, 248);
}
.navBar {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background-color: #000000c0;
  transition: all 0.5s;
  z-index: 1;
}
.navList {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  list-style: none;
}
.navLink {
  text-transform: capitalize;
  padding: 10px 20px;
  font-size: 2rem;
  font-family: var(--blenderProFont);
  color: var(--cyberYellow);
  transition: all 0.5s;
}
.navLink:hover {
  background-color: var(--cyberYellow);
  color: #000000;
  padding-left: 30px;
}

.navOpen {
  transform: translateX(100vw);
  transition: all 0.5s;
}
a {
  text-decoration: none;
}

/* Main Banner and social Links*/
header {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  position: relative;
}
.banner {
  font-size: 3rem;
  font-family: var(--cyberPunkFont);
  text-transform: uppercase;
  text-align: center;
  color: var(--cyberYellow);
  text-shadow: var(--cyberBlueShadow);
  animation: cyberChange 4s infinite;
}
@keyframes cyberChange {
  25% {
    color: var(--cyberYellow);
    text-shadow: var(--cyberBlueShadow);
  }
  50% {
    color: aqua;
    text-shadow: var(--cyberYellowShadow);
  }
  100% {
    color: var(--cyberYellow);
    text-shadow: var(--cyberBlueShadow);
  }
}
.wares {
  color: aqua;
  text-shadow: var(--cyberYellowShadow);
  animation: waresChange 4s infinite;
}

@keyframes waresChange {
  25% {
    color: var(--cyberYellow);
    text-shadow: var(--cyberBlueShadow);
  }
  50% {
    color: aqua;
    text-shadow: var(--cyberYellowShadow);
  }

  100% {
    color: aqua;
    text-shadow: var(--cyberYellowShadow);
  }
}
.socials {
  margin-top: 30px;
  display: flex;
  padding: 10px;
  justify-content: center;
}
.socialLinks {
  display: inline-block;
  font-size: 1rem;
  border: 2px solid;
  padding: 8px;
  margin: 10px;
  color: var(--cyberYellow);
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  transition: all 0.5s;
}
.socialLinks:hover,
.footerLinks:hover {
  color: aqua;
}

/* Video Settings */
.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.videoItem {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* About Section */
#about {
  font-family: var(--blenderProFont);
  background-color: aqua;
  color: #000000;
}
.typeEffect {
  animation: typing 1s infinite;
}

.mainHeading {
  padding: 40px;
  font-size: 2.5rem;
  font-family: var(--blenderProFont);
  text-transform: uppercase;
  text-align: center;
}
.imgContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.description {
  height: 100%;
  display: grid;
  font-size: 1.2rem;
  text-align: left;
  align-content: center;
  padding: 30px;
}
.subHeading {
  text-transform: capitalize;
  text-align: center;
  margin: 30px;
  font-size: 1.8rem;
  font-family: var(--blenderProFont);
}
.aboutDescription {
  font-size: 1rem;
}

/* Experiemnt section */
#experiment {
  font-family: var(--blenderProFont);
  color: #ffffff;
  background-color: #000000;
}
.feedback {
  border: 1px solid var(--cyberYellow);
  border-radius: 10px;
  color: var(--cyberYellow);
  padding: 10px;
  margin-bottom: 20px;
  display: none;
}
.experimentForm {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  justify-items: center;
  width: 100%;
}
.details {
  display: flex;
}

.customerImg {
  width: 50px;
  height: 50px;
  border: aqua 3px solid;
  border-radius: 50%;
}
.data {
  padding-left: 40px;
  color: aqua;
}
.fields {
  font-family: var(--blenderProFont);
  font-size: 1rem;
  color: #ffffff;
  border: aqua 2px solid;
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 70vw;
}
.fields::placeholder {
  font-family: var(--blenderProFont);
  font-size: 1rem;
}
.fields:focus,
.submitBtn:focus,
.Btn:focus {
  outline: none;
}
.fields:focus {
  color: #ffffff;
  font-family: var(--blenderProFont);
  font-size: 1rem;
}
.submitBtn {
  margin-top: 10px;
  font-family: var(--blenderProFont);
  font-size: 1.3rem;
  padding: 5px 40px;
  color: aqua;
  background: #000000;
  border: aqua 2px solid;
  border-radius: 10px;
  transition: all 0.5s;
}
.submitBtn:hover {
  background: aqua;
  color: #000000;
}
.experimentList {
  display: grid;
  grid-template-columns: 1fr;
}
.card,
.implants {
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 20px;
  margin-bottom: 40px;
  background: #000000;
  display: block;
}

.shortHeading {
  color: var(--cyberYellow);
  padding-bottom: 30px;
}
.buttons {
  display: flex;
  justify-content: right;
}

/* Products */
#implants {
  background: aqua;
  color: #000000;
}
.productsList {
  display: grid;
  grid-template-columns: 1fr;
}
.filterBtns {
  text-align: center;
}
.Btn {
  margin-top: 10px;
  font-family: var(--blenderProFont);
  font-size: 1.3rem;
  padding: 5px 40px;
  color: #000000;
  background: aqua;
  border: #000000 2px solid;
  border-radius: 10px;
  transition: all 0.5s;
}
.Btn:hover {
  background: #000000;
  color: aqua;
}

.search {
  margin: 40px;
  text-align: center;
}
.searchBox {
  margin-top: 10px;
  font-family: var(--blenderProFont);
  font-size: 1.3rem;
  padding: 5px 40px;
  color: #000000;
  background: var(--cyberYellow);
  border: #000000 2px solid;
  border-radius: 10px;
  transition: all 0.5s;
}
.cardHeading {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  font-size: 1.3rem;
  color: aqua;
  font-family: var(--blenderProFont);
}
.cardDescription {
  text-align: left;
  margin-top: 20px;
  color: #ffffff;
  font-family: var(--blenderProFont);
  font-size: 1rem;
}
/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000d0;
  display: none;
}
.showItem {
  display: block;
}
.modalContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
}
.modalClose {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  color: aqua;
}

/* Contact details */
.contact {
  background: black;
  color: #d9ff00;
}
.contactDetails {
  display: grid;
  justify-content: center;
  padding: 50px;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.map {
  width: 75%;
  display: flex;
  justify-self: center;
}
/* Footer */
.footer {
  background: var(--cyberYellow);
}
.footerLinks {
  display: inline-block;
  font-size: 1rem;
  border: 2px solid;
  padding: 8px;
  margin: 10px;
  color: black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  transition: all 0.5s;
}

/* Media screen Adjusts */
@media screen and (min-width: 480px) {
  .productsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 640px) {
    .experimentList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .map {
    width: 100%;
    height: 100%;
  }
  .fields {
    width: 50vw;
  }
}
@media screen and (min-width: 768px) {
  .navBar {
    left: -20rem;
    width: 20rem;
  }
  .navOpen {
    transform: translateX(20rem);
    transition: all 0.5s;
  }
  .banner {
    font-size: 6rem;
  }
  .testing,
  .howWeDo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 20px;
  }
  .howWeDo {
    direction: rtl;
    padding-bottom: 6rem;
  }
  .productsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .modalContainer {
    width: 50%;
  }
  .aboutDescription {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .productsList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .contactDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .info {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
}
/* Animations */
/* Typing effect */
@keyframes typing {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
